
# USAGE: https://wiki.ubuntu.com/SystemdForUpstartUsers
# /lib/systemd/system/gaph.service

# To determine which init daemon you are currently booting with, run:
# ps -p1 | grep systemd && echo systemd || echo upstart

# Reload systemctrl
# systemctl daemon-reload

# Some basics to use the service
# sudo service <servicename> <control>

[Unit]
Description=Script to restore default GAPH cronjobs

[Service]
Type=forking
ExecStart=/bin/sh -c '/bin/cat /etc/gaph/crontab | crontab -'

[Install]
WantedBy=multi-user.target